@import '../../../styles/variables.css';

.myButton {
  background-color: var(--primary-color);
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px;
}

.myButton:hover {
    background-color: var(--primary-color-hover);
    color: white;
}